*{
    margin: 0px;
    padding: 0px;
}

/* Formulario */

.formulario{
    width: 80%;
    margin: 0 auto;
}

.fieldset{
    border: 1px solid #ccc;
    padding: 2rem;
    margin-bottom: 2rem;
}

.legend{
    font-weight: bold;
}

.form_group{
    margin-bottom: 1.2rem;
}

.label{
    display: block;
}

.input, textarea, select{
    width: 100%;
}
.input:focus{
    background-color:green;
}

.submit_enviar{
    padding: 1rem 2rem;
    background-color: rgb(203, 240, 228);
    border: none;
    border-radius: 0.5rem;
}

.submit_enviar:hover{
    background-color: rgb(129, 243, 207);
}

.submit_enviar:focus{
    color: rgb(199,25,25);
}

.ejemplo li a:hover{
    color: red;
}

.ejemplo li a :active{
    color: green;
}

.ejemplo li a :focus{
    color: lemonchiffon;
}

.ejemplo li a :visited{
    color: fuchsia;
background-color: antiquewhite;
}