*{
    margin: 0;
    padding: 0;
}
html{
    font-family: "Roboto";
    font-size: 10px; /*con esto 1rem vale 10px en vez de 16px*/
}

header{
    

}

.claseImg{
    width: 20vh;
    height: 20vh;
}

.claseImgDiv{
margin: 10px;
padding: 5px;
}